/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /* Ajout d'une transition sur l'ombre */
}

.container:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Effet de survol avec une ombre plus prononcée */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"], 
input[type="number"], 
input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    transition: border-color 0.3s ease; /* Ajout d'une transition sur la couleur de bordure */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    border-color: #007BFF; /* Changement de couleur de bordure au focus */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Ajout d'une transition sur la couleur de fond */
}

button:hover {
    background-color: #0056b3;
}

/* Styles spécifiques pour le formulaire de réinitialisation de mot de passe */
#newPassword {
    margin-top: 10px;
}

/* Liens de navigation */
p a {
    text-align: center;
    display: block;
    margin-top: 10px;
}

/* Lien de retour */
.container p:last-child a {
    margin-top: 20px;
}

